# api
APP_NAME=api
CORS_ORIGINS=

# api - listmonk
LISTMONK_URL=http://localhost:9000
LISTMONK_USER=
LISTMONK_PASS=
LISTMONK_LIST=

# database
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
