# api
APP_NAME=api
CORS_ORIGINS=https://kyleavrett.com,http://localhost:4321

# api - listmonk
LISTMONK_URL=http://localhost:9000
LISTMONK_USER=
LISTMONK_PASS=
LISTMONK_LIST=
LISTMONK_TEMPLATE_WELCOME_EMAIL=

# api - gotify
GOTIFY_URL=
GOTIFY_TOKEN_WEBSITE=

# database
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
